<!-- <div class="row">

    <div class="col-6">
        <img src="/assets/banner.png" class="banner-img d-flex justify-content-center p-5">
    </div>
    <div class="col-6 d-flex flex-column  justify-content-center align-items-center">
        <input type="text" class="form-control" (input)="enteredname($event)" placeholder="Enter your name..." required>
        <button class="btn btn-warning mt-3" type="submit" (click)="displayname()">Order now</button>
    </div>
</div> -->
<div class="card text-bg-dark">
    <img src="/assets/b1.png" style="filter: blur(5px);" class="card-img" alt="...">
    <div class="card-img-overlay">
        <div class="d-grid justify-content-center align-content-center">
            <h5 class="card-title ">ABC_Cafe</h5>
        </div>
        <div class="card-text d-grid justify-content-center">
            <input type="text" class="form-control" (input)="enteredname($event)" placeholder="Enter your name..."
                required>
            <button class="btn btn-warning mt-3" type="submit" (click)="displayname()">Order now</button>
            <h2 class="text-white" [hidden]="status">{{cname}}</h2>

        </div>
    </div>
</div>