<div class="p-4">
        <p class="fw-bolder fs-3">{{custName}},<span class="fw-bold fs-5">(Counter
                : {{counterNo}})</span></p>

    <div class="container" *ngIf="noofitems > 0;else noorders">
        <p class="p-5 fw-bold">Your Orders are :</p>

        <ol class="d-flex justify-content-around flex-column text-center">
            <li *ngFor="let order of ordereditems" class="d-flex justify-content-between p-4">
                <span class="mx-5">{{order.name}}</span>
                <span class="text-start">{{order.price}}</span>

            </li>
        </ol>
        <button class="btn btn-danger d-flex justify-content-center" (click)="onGoToOrderPlaced()">Place Your Order</button>
    </div>

    <ng-template #noorders>
        <div class="alert alert-secondary border-0 rounded-0">
            <p class=" text-center"> * No Orders added ! </p>
        </div>
    </ng-template>
</div>