<div *ngIf="cname!=''">
    <!-- <div> -->
    <div class="card text-bg-dark ">
        <img src="/assets/b3.jpg" style="filter: blur(5px);height:100vh;" class="card-img" alt="...">
        <div id="order"
            class="card-img-overlay mt-5 d-flex justify-content-around align-content-start align-items-start">
            <div class="card mt-5" style="width: 80%;">
                <div class="card-body">
                    <h3 class="fw-bold text-dark text-center">Welcome {{cname}},</h3>
                    <hr>
                    <h6 class="card-subtitle mt-2 mb-2 text-body-secondary">Place your Order here.</h6>
                    <div class="row">

                        <div class="card col-3" style="width: 18rem;" *ngFor="let p of products">
                            <img [src]="p.img" class="card-img-top "
                                style="width: fit-content;height:200px; object-fit: cover;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{p.name}}</h5>
                                <p class="card-text">₹ {{p.price}}</p>
                                <button *ngIf="p.status === 'available'; else unavailable "
                                    class="btn btn-warning">Add</button>

                                <ng-template #unavailable>
                                    <p class="btn btn-danger disabled">*Unavailable</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#" class="btn btn-warning">Confirm Your Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>