<div>
    <ul class="nav flex-column d-grid justify-content-center">
        <li class="nav-item fw-bold">
            <a class="nav-link text-dark" [routerLink]="['']" routerLinkActive=" activenav rounded-5"
                [routerLinkActiveOptions]="{exact :true}">Home</a>
        </li>

        <li class="nav-item fw-bold">
            <a class="nav-link text-dark" [routerLink]="['/menu',cname]"
                routerLinkActive=" activenav rounded-5 ">Menu</a>
        </li>
        <li class="nav-item fw-bold">
            <a class="nav-link text-dark" [routerLink]="['/order',cname]"
                routerLinkActive=" activenav rounded-5 ">Orders
                <span class="badge rounded-pill bg-danger mx-1" *ngIf="noOfItems > 0;">
                    {{noOfItems}}
                </span>
            </a>
        </li>
        <li class="nav-item fw-bold">
            <a class="nav-link text-dark" [routerLink]="['/feedback',cname]"
                routerLinkActive=" activenav rounded-5 ">Feedback</a>
        </li>
    </ul>
</div>