<div>

    <div class="d-flex justify-content-center m-3">
        <div>
            <p class="mx-3">Filters : </p>
        </div>
        <div class="form-check mx-3">
            <input class="form-check-input" value="all" [(ngModel)]="selectedRadioButtonValue"
                (change)="onRadioButtonSelectionChanged()" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                {{'All ('+all+')'}}
            </label>
        </div>
        <div class="form-check mx-3">
            <input class="form-check-input" value="drinks" [(ngModel)]="selectedRadioButtonValue"
                (change)="onRadioButtonSelectionChanged()" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
                {{'Drinks ('+drinks+')'}}
            </label>
        </div>
        <div class="form-check mx-3">
            <input class="form-check-input" value="foods" [(ngModel)]="selectedRadioButtonValue"
                (change)="onRadioButtonSelectionChanged()" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
                {{'Foods ('+foods+')'}}
            </label>
        </div>
    </div>
</div>